h2 {
    margin-block-start: 0;
}

.overlay {
    height: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 1.25em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.report-container {
    height: calc(100% - 2em);
    display: flex;
    flex-direction: column;
    text-align: start;

    .margin-bottom {
        display: block;
        margin-bottom: 0.83em;
    }
}

p:last-of-type {
    margin-bottom: 0;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-top: 1em;

    .margin-auto {
        margin: auto 0 auto 0;
    }

    .tags-subcontainer {
        display: contents;

        .tag {
            height: fit-content;
            font-size: 16px;
            white-space: nowrap;
            background-color: #f0f0f0;
            color: #333;
            padding: 6px 8px 4px 8px;
            margin-right: 0.25em;
            border-radius: 8px;
        }
    }
}