h2 {
    margin-block-start: 0;
    margin-block-end: 0.5em;
}

p,
ul {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

ul {
    padding-inline-start: 2em;
}

.overlay {
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


    .report-container {
        height: calc(100% - 2em);
        display: flex;
        flex-direction: column;

        .margin-bottom {
            display: block;
            margin-bottom: 0.83em;
        }
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    .tags-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .tags-heading {
            margin: 0.75em 0 0.5em;
        }

        .tags-subcontainer {
            max-height: calc((16px + 6px + 4px + 4px + 0.35em) * 3);
            overflow-y: auto;
            gap: 0.35em;
            display: flex;
            flex-wrap: wrap;
            padding-right: 0.25em;

            .tag {
                flex: 1;
                text-align: center;
                font-size: 16px;
                white-space: nowrap;
                background-color: #f0f0f0;
                color: #333;
                padding: 6px 8px 4px 8px;
                border-radius: 8px;
            }
        }
    }
}

/* scroll bar */
/* Firefox */
@supports (-moz-appearance: none) {
    * {
        scrollbar-color: #FF9900 #FFFFFF;
    }
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar-track {
    background: #FFFFFF;
}

*::-webkit-scrollbar-thumb {
    border: 3px solid #FFFFFF;
}


@media (max-width: 1250px) {
    .overlay {
        margin-bottom: 1em;
    }
}