.overlay {
    width: 100%;
    height: calc(12.5vh - 2.25vh);
    min-height: 60px;
    display: flex;
    align-items: flex-end;
    background-color: black;
    padding: 2.25vh 12vw 0;
    margin-left: -12vw;

    footer {
        height: 100%;
        color: white;
        white-space: nowrap;
        display: flex;
        justify-content: space-between;

        .poppins {
            font-family: 'Poppins', sans-serif;
        }

        .disclaimer {
            width: 60%;
            white-space: normal;
        }
    }
}

@media (max-width: 1200px) {
    .overlay {
        height: unset;
        padding: 2.25vh 12vw;

        footer {
            align-items: center;
            flex-direction: column-reverse;

            .disclaimer {
                margin-bottom: 1em;
            }
        }
    }
}