button {
    cursor: pointer;
}

.overlay {
    width: 100%;
    height: 35vh;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #FF9900;
    background-color: #FFFCF3;
    border: 3px dashed #F2DFCC;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), filter 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    .file-format {
        font-size: 30px;
        color: #989899;
        margin-bottom: 0.25em;
    }

    &.drag-hover {
        color: #AD94F7;
        filter: brightness(0.98);
    }
}

.margin-bottom {
    margin-bottom: 1em;
}

@media (max-width: 1250px) {
    .overlay {
        text-align: center;
        padding: 1em;
        margin-bottom: 1em;
    }
}