<div class="email-list-container">
    <ng-container *ngIf="emails.length; else noEmails">
        <button class="button-bright" (click)="clearList()">Clear List</button>
        <div class="email-list-subcontainer">
            <app-email-item *ngFor="let email of emails; let i = index" [email]="email">
            </app-email-item>
        </div>
    </ng-container>
    <ng-template #noEmails>
        <span class="storage-info"><strong>Stored Emails: </strong>Analyzed emails will be shown here.</span>
    </ng-template>
</div>