.home-container {
    height: calc(100vh - 20vh);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    app-report {
        width: calc(50% - 2.5em);
        height: 60%;
    }

    app-drop-zone {
        width: 50%;
        height: 60%;
    }
}