.home-container {
    height: calc(100vh - 20vh);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    app-report {
        width: calc(55% - 2.5em);
    }

    app-drop-zone {
        width: 45%;
        height: 65%;
    }
}